extends ../layout/main.pug

block body
  div.clearfix
    h1.float-left 새 글
  form(method='POST', action='/bbs/new', autocomplete='off')
    input(type='hidden', name='_csrf', value=csrfToken)
    .input-field
      label 제목
      input(type='text', name='title')
    .input-field
      label 내용
      textarea(name='content')
    .input-field
      button(type='submit') 저장
      a.button.button-danger(href='/bbs') 취소
