<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BBS
    block head
      link(rel="stylesheet", href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css")
      link(rel="stylesheet", href="/main.css")
  body
    .wrap
      block body
      .errors
        - var errors = req.flash('error')
        each error in errors
          p= error
